scikit-learn~=0.23.1
joblib~=0.16.0
simpletransformers
flask~=1.1.2
beautifulsoup4~=4.9.1
flask_swagger_ui
spaCy~=2.3.2
lxml
flask_cors
requests~=2.24.0
pandas~=1.0.4
marshmallow~=3.7.1
nltk~=3.5
sklearn~=0.0
torch~=1.6.0
torchvision
wandb
fasttext
matplotlib~=3.3.2
transformers~=3.1.0
memory_profiler